<ul ngbNav #nav="ngbNav" class="nav bg-light justify-content-center">
	<div class="flex-container">
		<div>
			<li ngbNavItem>
				<a ngbNavLink routerLink="">Home</a>
			</li>
		</div>
		<div>
			<li ngbNavItem>
				<a ngbNavLink routerLink="video">Video</a>
			</li>
		</div>
		<div>
			<li ngbNavItem>
				<a ngbNavLink routerLink="live">Live Stream</a>
			</li>
		</div>
		<div>
			<li ngbNavItem>
				<app-log-in *ngIf="(auth.isAuthenticated$ | async) === false">
				</app-log-in>
		
				<app-log-out *ngIf="auth.isAuthenticated$ | async">
				</app-log-out>
			</li>
		</div>
		<div>
			<li ngbNavItem>
				<app-sign-up *ngIf="(auth.isAuthenticated$ | async) === false"></app-sign-up>
			</li>
		</div>
	</div>
</ul>